<div >
	<h1>Product List</h1>
	<div>
		<label for="Prod1">Prod1</label>
		<button type="submit" [routerLink]="['prod/1']">Product Details</button><br>
		<label for="Prod2">Prod2</label>
		<button type="submit" [routerLink]="['prod/2']">Product Details</button><br>
		<label for="Prod3">Prod3</label>
		<button type="submit" [routerLink]="['prod/3']">Product Details</button><br>
		<label for="Prod4">Prod4</label>
		<button type="submit" [routerLink]="['prod/4']">Product Details</button><br>
		<label for="Prod5">Prod5</label>
		<button type="submit" [routerLink]="['prod/5']">Product Details</button><br>
		<label for="Prod6">Prod6</label>
		<button type="submit" [routerLink]="['prod/6']">Product Details</button><br>
		<label for="Prod7">Prod7</label>
		<button type="submit" [routerLink]="['prod/7']">Product Details</button><br>
		<label for="Prod8">Prod8</label>
		<button type="submit" [routerLink]="['prod/8']">Product Details</button><br>
		<label for="Prod9">Prod9</label>
		<button type="submit" [routerLink]="['prod/9']">Product Details</button><br>
	</div>
</div>